/*
Student Name: Samuel Arrowood
File Name: styles.css
Date: 02/23/2024
*/

/*CSS Reset*/
  body, header, nav, main, footer, img, h1, h2, h3{  
    margin: 0;
    padding: 0;
    border-style: none;}

/* style rules for logo and header*/
#logo{
  border-radius: 25%;
}
header{
  background-color: #41B3A3;
}

/*Style rules for body and images*/
body{
  background-color: #85DCB0;
  margin-bottom:50px;
}
img{
  max-width: 100%;
  display: block;
}

/*Style rules for navigation area*/
nav{
  background-color: #41B3A3;
}
nav ul{
  list-style-type: none;
  margin: 0;
  text-align: center; 
  padding-right: 30px;
  padding-left: 0;
}
nav li{
  display: inline-block;
  font-family: Geneva, Arial, sans-serif;
  font-size: 1.5em;
}
nav li a{
  display: block;
  color: #E8A87C;
  padding: 0.5em 2em;
  text-decoration: none;
}

/*Style rules for main content*/
main{
  padding: 2%;
  font-family: Roboto, Veranda, Arial, sans-sarif;
color: #ffffff;
}
main p{
  font-size: 1.25em;
  
}
main h3{
  padding-top: 2%;
}
main ul{
  list-style-type: square;
  display: inline-block;
  text-align: left;
}
.link{
  color: #E8A87C;
  text-decoration: none;
  font-weight: bold;
  font-style: italic;
}
#contact{
  text-align: center;
}

/*style rules for footer content*/
footer{
  text-align: center;
  font-size: 0.85em;
  background-color: #C38D9E;
  color: #ffffff;
  padding: 1% 0;
  position: fixed;
    height: 50px;
  bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}
footer a{
  text-decoration: none;
  color: #E8A87C;
}
